<section class="con_01 container">
    <div class="row align-items-center">
        <div class="col con1_box">
            <div class="d-grid gap-2">
                <h3>contents</h3>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
            </div>
        </div>
        <div class="col con1_box">
            <div class="d-grid gap-2">
                <h3>contents</h3>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
            </div>
        </div>
        <div class="col con1_box">
            <div class="d-grid gap-2">
                <h3>contents</h3>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
            </div>
        </div>
        <div class="col con1_box">
            <div class="d-grid gap-2">
                <h3>contents</h3>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>
            </div>
        </div>
    </div>



</section>